<!DOCTYPE html>
<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	 	<title>{{meta_title}}</title>
		<meta name="description" content="{{meta_description}}" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<noscript>
				<link rel="stylesheet" type="text/css" href="/assets/css/skel.css" />
				<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
				<link rel="stylesheet" type="text/css" href="/assets/css/style-wide.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie/v8.css" /><![endif]-->
	    <meta name="HandheldFriendly" content="True" />
	    <meta name="MobileOptimized" content="320" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    {{ghost_head}} 
	</head>
	<body class="{{body_class}} landing">
		{{{body}}}
		{{ghost_foot}}
		<script type="text/javascript" src="/assets/js/jquery.dropotron.min.js"></script>
		<script type="text/javascript" src="/assets/js/jquery.scrollgress.min.js"></script>
		<script type="text/javascript" src="/assets/js/skel.min.js"></script>
		<script type="text/javascript" src="/assets/js/skel-layers.min.js"></script>
		<script type="text/javascript" src="/assets/js/init.js"></script>
	</body>
</html>