{{!< default}}
{{> header}}

<section id="main" class="container">
{{#post}}
	<div class="row">
		<div class="12u">
			<div id="sharing-icons">
				<ul class="icons">
				    <li><a class="icon fa-google-plus fa-1x" rel="external nofollow" onclick="return ss_plugin_loadpopup_js_ghost(this);" target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}"><span class="label">Google+</span></a></li>
					<li><a class="icon fa-twitter fa-1x" rel="external nofollow" onclick="return ss_plugin_loadpopup_js_ghost(this);" target="_blank" href="http://twitter.com/intent/tweet/?text={{title}}&url={{url absolute="true"}}"><span class="label">Twitter</span></a></li>
				    <li><a class="icon fa-facebook fa-1x" rel="external nofollow" onclick="return ss_plugin_loadpopup_js_ghost(this);" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"><span class="label">Facebook</span></a></li>
   	 			</ul>
			</div>
			<section class="box">
				<h2 class="title" itemprop="headline" style="text-align: center;">{{title}}</h2>
				<div style="text-align: center;">
				<small>Posted on <time class="date_uber" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='dddd DD MMM YYYY'}}</time> By <span itemprop="author">{{author}}</span></small>
				</div>
				<div class="post_content" itemprop="articleBody">
				{{content}}
				</div>
				<ul class="icons">
				    <li><a class="icon fa-google-plus fa-1x" rel="external nofollow" onclick="return ss_plugin_loadpopup_js_ghost(this);" target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}"><span class="label">Google+</span></a></li>
					<li><a class="icon fa-twitter fa-1x" rel="external nofollow" onclick="return ss_plugin_loadpopup_js_ghost(this);" target="_blank" href="http://twitter.com/intent/tweet/?text={{title}}&url={{url absolute="true"}}"><span class="label">Twitter</span></a></li>
				    <li><a class="icon fa-facebook fa-1x" rel="external nofollow" onclick="return ss_plugin_loadpopup_js_ghost(this);" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"><span class="label">Facebook</span></a></li>
   	 			</ul>
   	 			<div class="post-tags">{{tags separator=" | " autolink="true" prefix="Tagged in: "}}</div>
			</section>
		</div>
	</div>
{{/post}}
</section>
{{> footer}}